.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.sidebar {
  margin-top: 20px !important;
}
.row {
  flex-wrap: nowrap;
}
.card-margin {
  margin-left: 20px;
}
.card-height {
  height: 416px !important;
}
.card-width {
  width: 80vw;
}
