
.reciept-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  min-height: 600px;
  display: flex;
  background-color: rgb(245, 245, 245);
}

#selections {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400px;
  font-size: 20px;
  color: rgb(80, 80, 80);
}
.reciept a {
  text-decoration: none;
  color: rgb(83, 83, 83);
  margin-left: 600px;
}
.print {
  margin-top: 20px;
  height: 30px;
  width: 30px;
}

.reciept-aside {
  margin-left: 150px;
  width: 500px;
  height: 600px;
  right: 150px;
  background-color: #fff;
  position: sticky;
  top: 100px;
}
.reciept-aside * {
  margin-left: 10px;
}
.reciept-aside h4 {
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400px;
  font-size: 20px;
  color: rgb(80, 80, 80);
}
.reciept-aside h6 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: rgb(105, 105, 105);
}
.button {
  border-radius: 3px;
  background: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: white;
  width: 300px;
  height: 40px;
  margin-left: 100px;
  margin-top: 20px;
  border: none;
  transition: ease 0.3s;
}
.button:hover {
  background: rgb(31, 31, 31);
  color: white;
}
.reciept-aside span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(99, 99, 99);
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 20px;
}
.reciept-aside span h5 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: rgb(76, 110, 71);
}
.reciept-header {
  margin-left: 30px;
}
.reciept-body {
  margin-left: 50px;
  margin-top: 50px;
}
.item {
  display: flex;
  margin-bottom: 50px;
}
.item div:nth-of-type(1) {
  height: 350px;
  width: 350px;
}
.item div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
  background-position: cover;
}
.reciept-body .item hr {
  position: inherit;
}
.item div span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: rgb(92, 92, 92);
}
.item div span:nth-of-type(1) {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: rgb(82, 82, 82);
}
.item div button {
  border: none;
  background-color: transparent;
  color: rgb(54, 54, 54);
  transition: ease 0.4s;
  text-transform: uppercase;
  font-size: 15px;
}
.item div button:hover {
  color: rgba(156, 99, 46, 0.829);
}
.wallet-icon{
  width: 32px;
  height: 32px;
  position: relative;
  left: -100px;
  top: 7px;
  color: rgb(56, 56, 56);
}

.wallet-icon:hover{
  cursor: pointer;
}
.hide{
  display: none;
}
.flex{
  display: flex;
}
.wallet-box {
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
    position: absolute;
    right: 2vw;
    top: 8vw;
    flex-direction: column;
    z-index: 99;
    padding: 10px;
    padding-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wallet-box h2,.wallet-box h3 {
  color: rgb(82, 82, 82);
    font-size: 18px;
}
.wallet-box input{
  border: none;
  border-bottom: rgb(37, 37, 37) solid 1px;
}
