@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Zen+Kurenaido&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
}
.back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(../Assets/back_login.jpg);
}
.login_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 850px;
  background: white;
  z-index: 3;
  border-radius: 13px;
  top: 13vh;
  left: 15vw;
}
h1 {
  font-family: "Monda", sans-serif;
  font-size: 35px;
  margin-top: 10%;
  margin-left: 30px;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin-left: 30px;
  color: #5c5c5c;
  top: 110px;
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  display: block;
  margin-left: 30px;
  margin-top: 15px;
}
select {
  width: 400px;
  margin: 30px;
  height: 50px;
}
.logo {
  position: absolute;
  z-index: 100;
  top: 49%;
  right: 21%;
}
.content1 {
  transition: 0.5s ease-out;
}
.content2 {
  transition: 0.5s ease-in;
}
input,
button {
  margin: 30px;
  width: 400px;
  height: 50px;
  justify-content: center;
  text-align: center;
}
button {
  color: white;
  border: none;
  background: #1e2d2f;
  border-radius: 6px;
  transition: 0.3s;
}
button:hover {
  background: #4a5152;
}
a {
  text-decoration: none;
  color: rgb(167, 50, 29);
  font-family: "Raleway", sans-serif;
  font-size: 13px;
}
a:hover {
  color: #ff3502;
}
#options {
  position: absolute;
  bottom: 50px;
  right: 30px;
}
#options a {
  margin-left: 20px;
}
#span1 {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  margin-left: 40px;
  color: #5c5c5c;
  bottom: 100px;
}
#error_tag {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-left: 30px;
  color: #b23a48;
}
